We are creating an AI character to engage with users. We need to construct queries to retrieve comprehensive data points on the character's backstory and cultural background.

## DEFINITIONS:
{{definitions}}

## OBJECTIVES: We need queries to retrieve the following data points covering several datapoint areas.
{{objectives}}

## INSTRUCTIONS:
{{instructions}}

## TASK

Make detailed reasoning on what queries are needed to retrieve various data points mentioned in `OBJECTIVES` for the following AI character

{{inference_input}}
